extends ../base
block title
    | Index page

block main
    main#my-content
        section.top-section

            .top-section__container

                .top-section__overlay
                    a(href="#").play-btn Play Game

                .top-section__overlay-again
                    a(href="#").play-btn-again Play Again

                span.top-section__score score:
                    span.top-section__score-count

                table
                    tbody

                .top-section__timer
                    span.top-section__tile time:
                        span.top-section__playing-time 0



