extends ../base
block title
    | Index page

block main
    main#my-content
        section.top-section

            .top-section__container

                span.top-section__timer time:
                    span.top-section__spend-time 999

                table
                    tbody
