extends ../base
block title
    | Index page

block main
    main#my-content
        section.top-section

            .top-section__container

                span.top-section__timer time:
                    span.top-section__spend-time 999

                table
                    tbody



                        //tr.top-section__row
                            th
                                img(src="img/logo.png" alt="")
                            th
                                img(src="img/logo.png" alt="")
                            th
                                img(src="img/logo.png" alt="")
                            th
                                img(src="img/logo.png" alt="")




    //tr
        th
            img(src="https://kde.link/test/9.png" alt="")
        th
            img(src="img/logo.png" alt="")
        th
            img(src="img/logo.png" alt="")
        th
            img(src="img/logo.png" alt="")
    //tr
        th.selected
            img(src="img/logo.png" alt="")
        th
            img(src="img/logo.png" alt="")
        th
            img(src="img/logo.png" alt="")
        th
            img(src="img/logo.png" alt="")
    //tr
    //    th
    //        img(src="img/logo.png" alt="")
    //    th
    //        img(src="img/logo.png" alt="")
    //    th
    //        img(src="img/logo.png" alt="")
    //    th
    //        img(src="img/logo.png" alt="")
