@import "fonts"
@import "vars"
@import "sprite"
@import "default"


.top-section
  position: relative
  transition: all .3s
  text-align: center
  min-height: 600px
  height: 100vh
  background: url(../img/header_bg.jpg) no-repeat center center
  background-size: cover
  display: flex
  flex-direction: inherit
  justify-content: center
  align-items: center
  &__overlay-again
    display: none
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0, 1)
    z-index: 9
    //display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    p
      color: #fff
    a
      display: block
      font-size: 40px
      padding: 15px 45px
      color: #000
      text-decoration: none
      background-color: #6EFF79
  &__overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0, .7)
    z-index: 9
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    a
      display: block
      font-size: 40px
      padding: 15px 45px
      color: #000
      text-decoration: none
      background-color: #6EFF79
    p
      display: block
      color: red
  &__score
    color: #fff
    font-size: 30px
    text-align: right
    display: block
    text-transform: uppercase
  &__score-count
    color: red
    margin-left: 15px
    width: 70px
    display: inline-block
  table
    border: 3px solid #39458a
    padding: 5px
  th
    border: 1px solid #fff
    padding: 5px
    position: relative
    &:hover
      cursor: pointer
    &:before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background-color: #ded1ce
      opacity: 1
      transition: opacity .3s ease
    &:after
      opacity: 1
      content: ""
      display: block
      position: absolute
      border-radius: 50%
      top: 10px
      bottom: 10px
      left: 10px
      right: 10px
      border: 1px solid #867977
      background-color: #867977
      transition: opacity .3s ease

  th.selected
    &:before, &:after
      opacity: 0
  img
    display: flex

  &__timer
    text-transform: uppercase
    text-align: right
  &__tile
    color: #fff
    font-size: 30px
  &__playing-time
    margin-left: 15px
    color: red
